@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function rem($size) {
  $remsize: strip-unit($size) / 16;
  @return #{$remsize}rem;
}

@function vh($size, $bkp: 'xs') {
  $sizes: (
    'xs': 748,
    'ph': 716,
    'tv': 1004,
    'th': 671,
  );

  $vh: map-get($sizes, $bkp) * 0.01;
  $vsize: (strip-unit($size) / $vh);
  @return #{$vsize}vmax;
}

@function vw($size, $bkp: 'xs') {
  $sizes: (
    'xs': 375,
    'ph': 414,
    'tv': 768,
    'th': 1024,
  );

  $vw: map-get($sizes, $bkp) * 0.01;
  $vsize: (strip-unit($size) / $vw);
  @return #{$vsize}vmin;
}
